* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfKIl4cNRY1nuW493IIcqHpMff7Rr0Q1srSA&s);
}
img {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

p {
  font-size: 2em;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.315);
  padding: 2%;
}

li {
  font-size: 2em;
  padding: 1%;
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 3em;
  text-shadow: 4px 2px 15px Black;
  gap: 1.5%;
  padding: 2%;
  color: aliceblue;
}

a {
  color: darkgrey;
}
