* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://img.freepik.com/free-photo/still-life-with-scales-justice_23-2149776040.jpg?semt=ais_hybrid&w=740);
}
img {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

p {
  background-color: rgba(149, 150, 150, 0.507);
  font-size: 2em;
  padding: 1%;
}

li {
  font-size: 2em;
  padding: 1%;
}
h1 {
  font-size: 3em;
  gap: 1.5%;
  padding: 2%;
  text-shadow: 2px 2px 15px rgb(179, 233, 250);
}

a {
  color: rgba(50, 106, 228, 0.897);
}
