* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://thumbs.dreamstime.com/b/luxurious-modern-business-lawyers-office-classy-table-lighting-generative-ai-270889566.jpg);
}
img {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

p {
  font-size: 2em;
}

li {
  font-size: 2em;
  padding: 1%;
}
h1 {
  font-size: 3em;
  gap: 1.5%;
  padding: 2%;
}
